{% extends 'project_management/base.html' %}

{% load static %}

{% block content %}
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="text-center mb-4">
                <a href="{% url 'home' %}" class="navbar-brand navbar-brand-autodark">
                    <img src="{% static 'project_management/img/logo_akrab.svg' %}" height="36" alt="">
                </a>
            </div>
            <div class="card card-md">
                <form class="card-body" action="." method="post" autocomplete="off">
                    {% csrf_token %}
                    <h2 class="card-title text-center mb-4">Masuk ke dalam aplikasi</h2>

                    <div class="mb-3">
                        {{ form.username.label }}
                        {{ form.username }}
                    </div>
                    <div class="mb-2">
                        {{ form.password.label }}
                        {{ form.password }}
                    </div>
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    <button type="submit" class="btn btn-primary w-100 mt-4">Log in</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
