{% extends 'project_management/base.html' %}
{% load static %}

{% block content %}
    <div class="page-wrapper">
        {% include 'project_management/components/sidebar.html' %}
        {% include 'project_management/components/header.html' %}
        {% include 'project_management/fragments/messages.html' %}
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title">
                            Task Management: {{ title }}
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <a href="{% url 'create_task' pk %}" class="btn btn-primary">
                            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 5l0 14"></path>
                                <path d="M5 12l14 0"></path>
                            </svg>
                            Add Task
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <ul class="nav nav-bordered mb-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Bucket View</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Table View</a>
                    </li>
                </ul>

                {% include 'project_management/components/task_list.html' %}

            </div>
        </div>
    </div>
{% endblock %}