{% extends 'app_akrab/base.html' %}

{% load static %}

{% block content %}
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="text-center mb-4">
                <a href="{% url 'akrab_home' %}" class="navbar-brand navbar-brand-autodark">
                    <img src="{% static 'app_akrab/img/logo_akrab.svg' %}" height="36" alt="">
                </a>
            </div>
            <div class="card card-md">
                <form class="card-body" action="." method="post" autocomplete="off">
                    <h2 class="text-center">Reset password</h2>
                    <h4 class="text-center text-muted">{{ request.user.employee_profile.name }}</h4>
                    <hr>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row">
                        <div class="col">
                            <a href="{{ request.META.HTTP_REFERER }}"
                               class="btn btn-outline-light text-black form-control">Batal</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control">Simpan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}