{#<footer class="footer d-print-none navbar fixed-bottom">#}
{#    <div class="container-xl">#}
{#        <div class="row text-center align-items-center justify-content-center">#}
{#            <div class="col-12 col-lg-auto mt-3 mt-lg-0">#}
{#                <ul class="list-inline list-inline-dots mb-0">#}
{#                    <li class="list-inline-item">#}
{#                        <a href="." class="link-secondary">TIKMP BPPK</a>#}
{#                        <span>&copy; 2022</span>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}

<footer class="footer footer-transparent d-print-none position-sticky sticky-lg-bottom">
    <div class="container-xl">
        <hr>
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        Copyright &copy; 2023
                        BPPK.
                    </li>
                    <li class="list-inline-item">
                        v1.0.1
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>