{% if page_obj %}
    <div class="d-flex justify-content-center">
        <ul class="pagination mt-3">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
                       aria-disabled="true">
                        <- prev
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"
                       aria-disabled="true">
                        <- prev
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <div class="page-link">
                    Halaman <b>{{ page_obj.number }}</b> dari <b>{{ page_obj.paginator.num_pages }}</b>
                </div>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        next ->
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        next ->
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
{% endif %}
